.title {
    background-color: RGB(237, 241, 212);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bolder;
    height: 70px;
}

.kakao-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.guide {
    color: #ac2925;
    font-size: .8rem;
    text-align: center;
}

.kakao-label {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
}

.btn {
    width: 80px;
    border: 1px solid #a3a3a3cc;
    background: #fff;
    color: #5a5a5a;
    padding: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    opacity: .7;
}

.btn-box {
    padding: 0 42.5%;
}