@import url(../css/common.css);
h1{
    font-size: 1.5rem;
    font-weight: 500;
}
.main{
	padding-top: 90px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    margin:0 auto;
    min-width: 750px;
    font-size: .9rem;
    font-weight: bold;
}
.relative{
    position: relative;
}
.relative img {
    position: absolute;
    top: 8px;
    right: 35px;
}
.signup-form{
    border: 1px solid #dadce0a6;
    background-color: #ffffff;
    width : 650px;
    padding: 50px 7%;
    transition: all .2s ease-in;
    font-size: .8rem;
    height: 500px;
}
.signup-form-input{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 600px;
    width: 600px;
}
.term{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 800px;
    width: 600px;
}
.mailcheck{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    height: 300px;
    width: 600px;
}
.signup-form .form-text{
    top: 15px;
    outline: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #dadce0;
    position: absolute;
    transition: border-bottom .3s ease-in;
}

.signup-form .form-text:focus{
    border-bottom: 1px solid #73B03B; 
}
.text-label{
    position: absolute;
    margin-top: .9em;
    margin-left: 1em;
    font-size: .8rem;
    cursor: text;
    color: #808080;
    transition: all .2s ease-in;
}

.signup-form::-webkit-scrollbar {
    width: 10px;
}
.signup-form::-webkit-scrollbar-thumb {
    background-color: #636363b7;
    border-radius: 8px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.signup-form::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 10px;
    box-shadow: inset 0px 0px 1px white;
}
.signup-form .labelmove{
    transform: translate(5px,-5em);
    font-size : .1rem;
}
.signup-form-input a, 
.signup-form-input a:visited, 
.signup-form-input a:active,
.signup-form-input a:link{
    color : #a0ac76;
}
.signup-form-input a:hover{
    opacity: .7;
}
.name, .resident{
    display: flex;
}
.name input, .birth input{
    box-flex: 1;
    flex-grow: 1;
    margin-right: 8px;
    width : 90%;
}
.firstname, .lastname{
    width : 52%;
}
.pass, .mail, .nickname{
    width : 100%;
}
.pass input, .mail input, .nickname input{
    margin-right: 8px;
    width : 95%;    
}
.password-see{
    float: right;
    position: absolute;
    margin-top: 1px;
    cursor: pointer;
    opacity: .6;
}
.password-see:hover{
    opacity: 1;
}
.pass-check ul{
    font-size: .8rem;
}
.birth{
	width : 50%;
}
.gender{
	width : 37%;
}
.term textarea {
    display: flex;
    height: 100%;
    resize: none;
    border: 1px solid rgba(185, 183, 183, 0.815);
}

.term-cancel {
    margin-left: 90px;
    margin-right: 20px;
}

.term-cancel, .term-next {
    width: 200px;
    height: 40px;
    border: 1px solid #636363cc;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
}

.term-cancel:hover, .term-next:hover {
    background-color: #B7C553;
    border: 1px solid #B7C553;
}

.next-btn {
    width: 200px;
    height: 40px;
    border: 1px solid #999898cc;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
}

.next-btn:hover {
    background-color: #B7C553;
    border: 1px solid #B7C553;
}

.completion {
    padding-top: 45px;
    display: flex;
    justify-content: center;
}

.submit-btn {
    margin-left: 10px;
    width: 40px;
    height: 25px;
    border: 1px solid #63636357;
    background-color: #e4e4e4d2;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: .7rem;
}

.submit-btn:hover {
    opacity: .8;
}

.re-send-btn {
    width: 110px;
    height: 25px;
    border: 1px solid #63636357;
    background-color: #e4e4e4d2;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: .7rem;
}

.re-send-btn:hover {
    opacity: .8;
}

.mailspan{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.certification{
    right: 85px;
}